body {
  margin: 0; }

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.myName {
  font-family: 'Balsamiq Sans', cursive;
  height: 75px;
  width: 100%;
  margin: auto;
  font-size: xx-large;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  color: #EEEEEE;
  position: fixed;
  background-color: #2F9EF4;
  z-index: 9; }

.myName:hover {
  color: #EEEEEE; }

.buttonColor {
  background-color: #2F9EF4;
  padding: 10px;
  border-radius: 50%;
  border: #EEEEEE 3px solid;
  text-decoration: none;
  position: fixed;
  z-index: 10;
  margin-left: 15px;
  margin-top: 24px; }

@media screen and (min-width: 1366px) {
  .header {
    height: 105px; }
  .myName {
    height: 100px; }
  .buttonColor {
    margin-top: 28px;
    padding: 15px; } }

@media screen and (min-width: 1920px) {
  .header {
    height: 115px; }
  .myName {
    height: 110px;
    font-size: 50px;
    text-decoration: none; }
  .buttonColor {
    padding: 20px;
    margin-top: 30px;
    border: 4px solid #EEEEEE; } }

.container--description {
  border-bottom: #2F9EF4 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #EEEEEE; }

.abstract {
  height: auto;
  width: 75%;
  border: #AFABAB 2px solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-family: 'Indie Flower', cursive;
  background-color: #EEEEEE; }

@media screen and (min-width: 375px) {
  .container--description {
    height: 340px; } }

@media screen and (min-width: 833px) {
  .abstract {
    width: 50%;
    padding: 30px; } }

@media screen and (min-width: 1024px) {
  .container--description .abstract {
    font-size: large; } }

@media screen and (min-width: 1720px) {
  .container--description {
    height: 500px; }
    .container--description .abstract {
      border: 3px #AFABAB solid;
      padding: 20px;
      font-size: x-large; } }

.container--experience {
  border-bottom: #2F9EF4 5px solid;
  height: 600px;
  background-color: #EEEEEE;
  font-family: 'Indie Flower', cursive; }
  .container--experience .dadCenterLine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; }
    .container--experience .dadCenterLine .centerLine {
      background-color: #2F9EF4;
      height: 600px;
      width: 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column; }
      .container--experience .dadCenterLine .centerLine .bubbleFirst, .container--experience .dadCenterLine .centerLine .bubbleSecond, .container--experience .dadCenterLine .centerLine .bubbleThird, .container--experience .dadCenterLine .centerLine .bubbleFourth, .container--experience .dadCenterLine .centerLine .bubbleFifth {
        border-radius: 50%;
        background-color: #2F9EF4;
        height: 50px;
        width: 50px; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--first {
          margin-right: -500%;
          margin-left: 110%;
          border: #AFABAB 2px solid;
          background-color: #EEEEEE;
          height: 250%;
          width: 250%;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--second {
          margin-left: -290%;
          border: #AFABAB 2px solid;
          background-color: #EEEEEE;
          height: 250%;
          width: 250%;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--third {
          margin-right: -500%;
          margin-left: 110%;
          border: #AFABAB 2px solid;
          background-color: #EEEEEE;
          height: 250%;
          width: 250%;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fourth {
          margin-left: -290%;
          border: #AFABAB 2px solid;
          background-color: #EEEEEE;
          height: auto;
          width: 250%;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fifth {
          margin-right: -500%;
          margin-left: 110%;
          border: #AFABAB 2px solid;
          background-color: #EEEEEE;
          height: 250%;
          width: 250%;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap; }
        .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience__littleExperience {
          color: #545454;
          font-size: x-small; }

.bubbleFirst, .bubbleThird, .bubbleFifth {
  display: flex;
  justify-content: right;
  align-items: center; }

.bubbleSecond, .bubbleFourth {
  display: flex;
  justify-content: left;
  align-items: center; }

@media screen and (min-width: 375px) {
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--first {
    width: 260%; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--second {
    width: 260%; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--third {
    width: 260%; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fourth {
    height: auto;
    width: 260%; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fifth {
    width: 260%; } }

@media screen and (min-width: 1000px) {
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--first {
    height: 200%;
    width: 700%;
    display: flex;
    flex-direction: column;
    margin-right: -700%;
    font-size: large; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--second {
    height: 200%;
    width: 650%;
    margin-left: -660%;
    display: flex;
    flex-direction: column;
    font-size: large; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--third {
    height: 200%;
    width: 700%;
    display: flex;
    flex-direction: column;
    margin-right: -700%;
    font-size: large; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fourth {
    height: auto;
    width: 650%;
    margin-left: -660%;
    display: flex;
    flex-direction: column;
    font-size: large; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fifth {
    height: 200%;
    width: 700%;
    display: flex;
    flex-direction: column;
    margin-right: -700%;
    font-size: large; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience__littleExperience {
    font-size: small; } }

@media screen and (min-width: 1920px) {
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--first, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--first {
    font-size: 23px; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--second, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--second {
    font-size: 23px; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--third, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--third {
    font-size: 23px; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fourth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fourth {
    font-size: 23px;
    height: auto; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience--fifth, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience--fifth {
    font-size: 23px; }
  .container--experience .dadCenterLine .centerLine .bubbleFirst .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleSecond .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleThird .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFourth .cardExperience__littleExperience, .container--experience .dadCenterLine .centerLine .bubbleFifth .cardExperience__littleExperience {
    font-size: medium; } }

.container--skills {
  border-bottom: #2F9EF4 5px solid;
  height: 150px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center; }

.decrease {
  background-color: #2F9EF4;
  color: #EEEEEE;
  padding: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
  text-decoration: none;
  position: absolute;
  margin-top: 20px; }

.cardSkills {
  height: auto;
  width: 100%;
  display: none;
  z-index: 1;
  margin-top: 170px; }

.html {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.html:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.css {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.css:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.js {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.js:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.scss {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.scss:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.php {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.php:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.python {
  max-height: 50px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.python:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.sql {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%); }

.sql:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.linux {
  max-height: 50px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.linux:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.bootstrap {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.bootstrap:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.wordpress {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.wordpress:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.react {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.react:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.angular {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.angular:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.vue {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.vue:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.mongodb {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.mongodb:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.express {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.express:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.node {
  max-height: 100px;
  transition: all 1s ease;
  filter: grayscale(100%);
  margin-bottom: 50px; }

.node:hover {
  transform: scale(1.25);
  filter: grayscale(0%); }

.sizeCarousel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.cardCarousel {
  border-top: 15px solid #2F9EF4;
  border-bottom: 15px solid #2F9EF4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

@media screen and (min-width: 1000px) {
  .cardCarousel {
    border-top: 25px solid #2F9EF4;
    border-bottom: 25px solid #2F9EF4; } }

.container--contact {
  background-image: linear-gradient(#3F3E3E, black 200%);
  width: 100%;
  height: 275px;
  color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  font-family: 'Indie Flower', cursive; }
  .container--contact .contactMe {
    font-size: xx-large;
    margin: 0; }
  .container--contact .uploadCv {
    color: #EEEEEE;
    background-color: #2F9EF4;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    text-decoration: none; }
  .container--contact .copyright {
    color: #545454;
    font-size: small; }

@media screen and (min-width: 1920px) {
  .container--contact {
    height: 375px; }
  .contactMe {
    font-size: 40px; }
  .adress {
    font-size: 30px; }
  .uploadCv {
    padding: 25px;
    font-size: x-large; }
  .copyright {
    font-size: large; } }
