$color-red: #952127;
$color-blue: #2F9EF4;
$color-white: white;
$color-orange: #FE4F1E;
$color-grey: #AFABAB;
$color-purple: #885D6B;
$color-blueberry: #9AA2BD;
$color-little: #545454;
$color-black:black;
$color-gray: #D6D6D6;